@{
    ViewData["Title"] = "Home Page";
}



<article>
    <h2>Mi Mascota Favorita</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhBuAhBUM-PFigF5eNWbWzpD7YR3Z_hAxnUw&s" alt="Foto de mi mascota favorita" style="width:300px;height:auto;">
    <p>Rocky, un Pastor Alemán de cuatro años, es una mezcla perfecta de lealtad y valentía. Con su pelaje marrón y negro brillante, y unos ojos marrones que reflejan su inteligencia, es imposible no notar su presencia. Su carácter es una combinación de protectora y cariñosa, siempre dispuesto a jugar y a proteger a su familia. Desde cachorro, Rocky ha demostrado una notable capacidad para aprender rápidamente y seguir comandos, lo que lo convierte en un compañero ideal tanto en casa como en nuestras aventuras al aire libre.</p>
</article>






