@{
    ViewData["Title"] = "Home Page";
}


<article>
    <h2>Viaje con mi Mascota</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhBuAhBUM-PFigF5eNWbWzpD7YR3Z_hAxnUw&s" alt="Foto del viaje con mi mascota" style="width:300px;height:auto;">
    <p>Hace un año, decidimos emprender una aventura con Rocky, nuestro fiel Pastor Alemán, a las hermosas montañas de la región de Sierra Nevada. 
    La planificación del viaje fue meticulosa para asegurarnos de que Rocky estuviera cómodo y seguro durante toda la travesía. Equipados con un 
    montón de provisiones, agua fresca y su colchón favorito, partimos temprano en la mañana para aprovechar al máximo el día.
    El viaje en carretera fue tranquilo, con Rocky acomodado en el asiento trasero, mirando por la ventana con gran curiosidad mientras observaba 
    el paisaje cambiar de plano urbano a una naturaleza exuberante. Su entusiasmo era palpable cuando llegamos a la entrada del parque nacional, 
    moviendo la cola sin parar y saltando de alegría.
    Las rutas de senderismo en Sierra Nevada ofrecen vistas impresionantes y variadas, y elegimos una que se adaptaba a nuestro ritmo y al de Rocky. 
    La caminata fue fascinante, con senderos rodeados de altos pinos y vistas panorámicas de los picos nevados a lo lejos. Rocky se mostró como un 
    compañero incansable, explorando cada rincón y olfateando el aire fresco y lleno de aromas forestales. En los momentos de descanso, disfrutaba 
    de la oportunidad para beber agua y relajarse bajo la sombra de un gran árbol.
    Durante el viaje, hicimos varias paradas para acampar en áreas designadas para mascotas, donde Rocky corría libremente, jugando con una pelota 
    que llevamos especialmente para él. Una de las noches, encendimos una fogata, y Rocky se acomodó cerca de nosotros, disfrutando del calor y el 
    aroma a madera quemada mientras observaba las estrellas en el cielo despejado.
    La experiencia de estar en la naturaleza con Rocky fue profundamente enriquecedora. La conexión que sentimos durante estos días lejos de la 
    rutina diaria fortaleció nuestro vínculo. Al final del viaje, Rocky estaba cansado pero contento, y a su regreso a casa, se acurrucó en su lugar 
    favorito con un suspiro de satisfacción, claramente feliz por la aventura vivida y los nuevos recuerdos creados juntos</p>
</article>


