@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <article>
    <h2>Mi Mascota Favorita</h2>
    <img src="https://humanidades.com/wp-content/uploads/2017/02/perro-1-e1561678907722.jpg" alt="Foto de mi mascota favorita" style="width:300px;height:auto;">
    <p>Esta es mi mascota favorita. Es un perrito llamado Max, muy juguetón y le encanta correr por el parque. Es mi fiel compañero y siempre está a mi lado.</p>
</article>

<article>
    <h2>Sobre la Rama Main</h2>
    <p>La rama <strong>main</strong> es la rama principal de un repositorio en Git. Es donde se mantienen las versiones más estables y actualizadas del proyecto. Generalmente, es la rama de referencia desde la cual se despliegan los cambios a producción. Es importante mantener esta rama limpia y funcional, integrando cambios sólo después de que hayan sido revisados y probados adecuadamente.</p>
</article>
</div>
