@{
    ViewData["Title"] = "Home Page";
}


<article>
    <h2>Viaje con mi Mascota</h2>
    <img src="https://humanidades.com/wp-content/uploads/2017/02/perro-1-e1561678907722.jpg" alt="Foto del viaje con mi mascota" style="width:300px;height:auto;">
    <p>El verano pasado, llevé a Max a la playa. Fue una aventura increíble llena de sol, arena y muchas caminatas junto al mar.</p>
</article>


